
@{
    ViewBag.Title = "Homepage";
}

<h2 style="text-align:center;font-size:x-large">Visual Super Marker</h2>
<br />
<div style="background-color:white;height:auto;width:auto">
    <table align="center" cellpadding="10">
        <tr>
            <td>Welcome to Visual SuperMarket Where There is a Solution For Every Needs</td>

        </tr>
        <tr>
            <td>Successful For the past 15 Years!!</td>
        </tr>
        </table>
</div>

